thead,
tfoot {
    background-color: #333;
    color: #fff;
}
.title-projet {
    margin-bottom: 15%;
}
.box {
    margin-top: 15%;
}

/* DEBUT NAV */

nav {
    z-index: 2000;
    top: 0;
    position: fixed;
    height: 70px;
    width: 100%;
    background: #f5574c;
    border-bottom: 1px dotted #f1f1f1f1;
  }
  
  .logo-menu {
    position: fixed;
    top: 10px;
    right: 15px;
    width: 50px;
    z-index: 200;
    display: none;
  }
  
  .liste-nav {
    background: #f5574c;
    border-bottom: 1px dotted #f1f1f1f1;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: fixed;
    z-index: 100;
  }
  
  .item-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  nav .item-nav a {
    font-size: 25px;
    color: #333;
    text-decoration: none;
    margin: 0 20px;
  }
  
  .item-nav a::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 0%;
    height: 2px;
    background: #333;
    transition: all 0.2s ease-in-out;
  }
  
  .item-nav a:hover::after {
    width: 100%;
  }
  
  @media screen and (max-width: 768px) {
    nav {
      z-index: 400;
    }
    nav ul li {
      border-bottom: 1px solid rgba(51, 51, 51, 0.295);
    }
  
    .logo-menu {
      display: block;
    }
  
    .liste-nav {
      display: none;
      flex-direction: column;
      height: auto;
    }
  
    .item-nav {
      height: 70px;
    }
  
    .liste-nav.active {
      display: block;
    }
  
    .item-nav:nth-child(1) {
      margin-top: 70px;
    }
  }
  
  /* login nav */
  
  #btn-connect {
    background-color: #333;
    border: 2px solid #333;
    margin-top: 10px;
    position: relative;
    margin-left: 1700px;
    z-index: 600;
  }
  
  @media screen and (max-width: 375px) {
    #btn-connect {
      z-index: 700;
      position: absolute;
      margin-left: 30%;
    }
  }
  
  /* FIN DE NAV */

  /* TABLEAUX */

.table.table-striped {
  
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
  @media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	.table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Nom"; }
	td:nth-of-type(2):before { content: "Code"; }
	td:nth-of-type(3):before { content: "Type"; }
	td:nth-of-type(4):before { content: "Commercial"; }
	td:nth-of-type(5):before { content: "Client"; }
	td:nth-of-type(6):before { content: "Action"; }
}

